.homepage {
    width: 1440px;
    height: 1280px;
    background-color: #ffffff;
}

.bg {
    width: 100%;
    height: 580px;
    background-image: linear-gradient(318deg, #8ddad5, #00cdac);

}

.triangle {
    position: absolute;
    top: 480px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

.navbar {
    padding-bottom: 40px;
    padding-top: 40px;
}

.detail-btn-bg {
    width: 86px;
    height: 43px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 93, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    background-color: #5e72e4;
}

.detail-btn {
    width: 44px;
    height: 19px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.edit-btn- {
    width: 107px;
    height: 43px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 93, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    background-color: #2dce89;
}

.edit-btn {
    width: 65px;
    height: 19px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.delete-btn-bg {
    width: 63px;
    height: 43px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 93, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    background-color: #fb6340;
}

.delete-btn {
    width: 21px;
    height: 19px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.oval-3 {
    width: 199px;
    height: 199px;
    object-fit: contain;
    opacity: 0.15;
    background-color: #ffffff;
}

.posts {
    width: 36px;
    height: 19px;
    opacity: 0.95;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.rectangle {
    width: 99px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
    background-color: #ffffff;
}

.login {
    width: 43px;
    height: 19px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.4px;
    color: #5e72e4;
}

.renderbody {
    position: relative;
    top: 180px;
    padding:30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07), 0 15px 35px 0 rgba(50, 50, 93, 0.1);
}


.postlist-item {
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 93, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    margin: auto 5px;
}

.btn-wrapper {
    width: 100%;
}

.divider {
    height: 1px;
    background-color: #e9ecef;
}

.modal {
    top: 25% !important;
    width: 40%;

}

input, input:focus, textarea, textarea:focus {
    border-radius: 4px !important;
    border: 2px solid #e9ecef !important;
    box-shadow: none !important;
    padding: 5px !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8898aa;
    box-sizing: inherit !important;
    -webkit-box-sizing: inherit !important;
}

textarea {
    height: 80px;
}

.title {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #525f7f;
}

.styles_modal__gNwvD {
    width: 500px;

}

.styles_closeButton__20ID4 {
    top: 50px;
    transform: translateY(-50%);
}
.modal-footer{
    padding-top: 30px;
    padding-bottom: 30px;
}
.Leanne-Graham {
  width: 210px;
  height: 38px;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #32325d;
}
.text-upper{
    text-transform: uppercase;
}
.text-lower{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}